@use './components/cord';
@use '../sass/components/buttons';
// helpers
@use '../sass/helpers/variable';
@use '../sass/helpers/anim';
// layout
@use '../sass/layout/header';
@use '../sass/layout/footer';
@use '../sass/layout/loader';
// page
@use '../sass/pages/home';
@use '../sass/pages/about';
@use '../sass/pages/work';
@use '../sass/pages/teem';

html {
    overflow-x: hidden;
}

.content {
    .hidden {
        display: none;
    }

}
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}