.card {
  position: relative;
  overflow: hidden;
  transition: 1s;
}
.card:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  transition: 1s;
  z-index: 2;
}
.card:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.792);
  animation: card 1s forwards;
}
@keyframes card {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.792);
  }
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 15px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 0 0 0 2px rgba(0, 79, 255, 0.3490196078);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  color: whitesmoke;
}
@media (max-width: 377px) {
  .animated-button {
    padding: 12px 29px;
    font-size: 14px;
  }
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: blue;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(0, 34, 255, 0.5568627451);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #000000;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #000000;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #0011ff;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

nav {
  background-color: rgba(0, 0, 0, 0.3137254902);
}
nav a {
  text-decoration: none;
  color: #ffffff;
  transition: 1;
}
nav a:hover {
  color: #0035b9;
  transition: 1;
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler .box-icon-nav {
  color: #ffffff;
}
nav .logo {
  font-size: 30px;
}
nav .center {
  margin: 0 30px;
  padding: 0 30px;
  position: relative;
}
@media (max-width: 992px) {
  nav .center {
    padding: 5px 0;
    margin: 0;
  }
  nav .center::after, nav .center::before {
    display: none;
  }
}
nav .center::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
nav .center::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #ffffff;
}
nav svg path:nth-child(1) {
  stroke-dasharray: 108;
  stroke-dashoffset: 108;
  animation: line-anim 2s ease forwards 1.7ms;
}
nav svg path:nth-child(2) {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation: line-anim 2s ease forwards 2ms;
}
nav svg path:nth-child(3) {
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
  animation: line-anim 2s ease forwards 2ms;
}
nav svg path:nth-child(4) {
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  animation: line-anim 2s ease forwards 2ms;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.run-code {
  width: 100%;
  height: 100vh;
  background-color: #c5def4;
  overflow-x: hidden;
}
.run-code nav ul {
  list-style: none;
}
.run-code nav ul li a {
  font-family: sans-serif;
  color: rgb(50, 78, 150);
  font-weight: 600;
}
.run-code .row {
  height: 100%;
}
.run-code .row h2 {
  font-size: 31px;
  color: rgb(50, 78, 150);
  font-weight: bold;
}
.run-code .row span {
  color: black;
  font-family: cursive;
}
.run-code .compon .col-6 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.run-code .compon .con {
  background-color: rgb(50, 78, 150);
  padding: 20px;
  border-radius: 20px;
  width: 7rem;
  margin-top: 1rem;
}
.run-code .compon h3 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.run-code .con-video {
  background-color: black;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}/*# sourceMappingURL=run-code.css.map */