@use '../helpers/variable' as *;

nav {
    background-color: #00000050;
    a {
        text-decoration: none;
        color: $color-with;
        transition: 1;
        &:hover{
            color: $color-blue;
            transition: 1;
        }
    }

    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }

        .box-icon-nav {
            color: $color-with;
        }
    }

    .logo {
        font-size: 30px;
    }

    .center {
        margin: 0 30px;
        padding: 0 30px;
        position: relative;

        @media (max-width:992px) {
            padding: 5px 0;
            margin: 0;

            &::after,
            &::before {
                display: none;
            }

        }

        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $color-with;
        }

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            top: 0;
            left: 100%;
            background-color: $color-with;
        }
    }

    svg path:nth-child(1) {
        stroke-dasharray: 108;
        stroke-dashoffset: 108;
        animation: line-anim 2s ease forwards 1.7ms;
    }

    svg path:nth-child(2) {
        stroke-dasharray: 106;
        stroke-dashoffset: 106;
        animation: line-anim 2s ease forwards 2ms;
    }

    svg path:nth-child(3) {
        stroke-dasharray: 63;
        stroke-dashoffset: 63;
        animation: line-anim 2s ease forwards 2ms;
    }

    svg path:nth-child(4) {
        stroke-dasharray: 125;
        stroke-dashoffset: 125;
        animation: line-anim 2s ease forwards 2ms;
    }

    @keyframes line-anim {
        to {
            stroke-dashoffset: 0;
        }
    }
}