@use '../helpers/variable' as *;

.features {
    box-shadow: 1px 1px 39px -3px black;
    background: $color-bg;
    h2{
        color: $color-blue;
        font-weight: 900;
    }
    ul {
        li {
            &::marker {
                font-size: 30px;
                font-weight: bold;
                color: $color-blue;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}