@use '../helpers/variable' as *;

.home {

    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100vh;
    width: 100%;
    position: relative;

    .back-img {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000db;
    }

    .container {
        .con-text {

            h1 {
                color: $color-with;
                font-weight: 900;
                @media (max-width:377px) {
                    font-size: 1.4rem;
                }
            }

            span:nth-child(1) {
                color: #0035b9;
                font-weight: 400;
                font-size: 3rem;
            }

            span:nth-child(2) {
                color: #0034b9ce;
                font-weight: 400;
                font-size: 3rem;
            }

            span:nth-child(3) {
                color: #0034b97d;
                font-weight: 400;
                font-size: 3rem;
            }

            .text-spn {
                color: $color-blue;
                font-weight: 400;
                font-family: fantasy;
            }

            p {
                color: $color-grae;
            }
        }

    }
}